
/*css acceil*/

body{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}


@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }


.modal-dialog{
   max-width:800px;
}

.container{
  background: #00000017;
  min-width:100%!important;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:0
}
/**header**/

.top-container {
  background-color: #07b0e9;
  padding: 3px;
  text-align: center;
  display: flex;
  align-items: center;

}

.top-container h2{
  color:white;

}

.top-container .minititle{
  position:relative;
  top:23px;
  font-family:system-ui;
  color:white
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/**header**/

.headerpg{
  box-shadow:1px 1px 20px -10px
}

.imgheader{
  display:flex;
}

/**banner**/




.txtimg .txttop{
  background-color: brown;

}

.txtimg .imgbanner{
background-color: black;

height:200px
}

.cerclebanner{
  position:absolute;
  z-index: 5;
  height:250px;
  width:250px;
  left:250px;
  top:250px
}

@media only screen and (max-width: 768px){
  .cerclebanner{
    position:absolute;
    z-index: 5;
    height:150px;
    width:150px;
    left:auto;
    top:auto;
    bottom:0;

  }
}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-inner .carousel-item{
  height: 700px;
  width: 100%;
}





.carousel-inner .carousel-item:nth-child(1){
  background:center/cover no-repeat url('../img/social/12.jpg');
  background-position:bottom
}

.carousel-inner .carousel-item:nth-child(2){
  background:center/cover no-repeat url('../img/social/5.jpg');
  }

  .carousel-inner .carousel-item:nth-child(3){
    background:center/cover no-repeat url('../img/social/13.jpg');
    }
/**fin banner**/



  
  /**center**/
  
  .center{
    width:100%;
    background: #ffffff;
    display:flex;
    align-items:center;
    justify-content:center
  }
  
  .parentbloc0{width: 100%;background-color: #000000;display:flex;align-items:center;justify-content:center} 
  
  .parentbloc0 card{
    background:#2196F3
  }
  .parentbloc1{width: 100%;background-color: #464646;display:flex;align-items:center;justify-content:center}
  
  .parentbloc1 .bloc{
    height: 300px;
    width:300px;
    background-color: azure;
    margin: 5px;
  }
  
  .parentbloc2{width:100%;background-color: rgb(0 0 0);}
  
  .bloc-info{
  
    width:800px
  }
  
  .parentbloc3{
    width: 100%;
    background-color: rgb(70 70 70);
    display: flex;
    flex-direction: column;
    }
  
  
  .parentbloc3 .infosocial{
    background-color: #000000;
    width: 800px;
    display:flex;
    justify-content:center;
    align-items:cente;
    
  }
  
  
  .btnflottant{
    position: fixed;
    top: 50%;
    right: 0;
    transform:rotate(-90deg) translatey(50%);
    z-index:50
  }
  
  
  .montant{
    text-align:center;
    margin-top:2px;
  }
  
  .montant .btnprix{
    width: 80px;
    font-size:14px;
    box-shadow:1px 1px 5px 0.1px #33333370;
    border:none
  }
  
  .btnprix:hover{
    background:#99cfff
  }
  .montant .active{
    background-color: #2196F3;
    color:white;
    box-shadow:inset 0px 0px 10px 1px #0201014d;
    border:2px solid #dbdbdb
  }
  
  
  .sousinfo{
    background-color:rgb(187, 21, 21);
  }
  
  .infosocial{
    background-color: #000;
  }
  
  .infosocial .blocsocial{
    background: #2ac80000;
  }
  

  
  /**fin center**/











/*API CINEPAY*/

.cp-close{
  margin-top:50px;
}













  /*Modal adhesion*/

:root{--primary-color: rgb(11, 78, 179)}*, *::before, *::after{box-sizing: border-box}

.labeladhe{display: block;margin-bottom: 0.5rem;}
.champadhes{display: block;width: 100%;padding: 0.75rem;border: 1px solid #ccc;border-radius: 0.25rem;height: 50px}

.progressbar{position: relative;display: flex;justify-content: space-between;counter-reset: step;margin: 2rem 0 4rem}
.progressbar::before, .progress{content: "";position: absolute;top: 50%;transform: translateY(-50%);height: 4px;width: 100%;background-color: #dcdcdc;z-index: 1}
.progress{background-color: rgb(0 128 0);width: 0%;transition: 0.3s}
.progress-step{width: 2.1875rem;height: 2.1875rem;background-color: #dcdcdc;border-radius: 50%;display: flex;justify-content: center;align-items: center;z-index: 1}
.progress-step::before{counter-increment: step;content: counter(step)}
.progress-step::after{content: attr(data-title);position: absolute;top: calc(100% + 0.5rem);font-size: 0.85rem;color: #666}
.progress-step-active{background-color: var(--primary-color);color: #f3f3f3}
.step-forms{display: none;transform-origin: top;animation: animate 1s}
.step-forms-active{display: block}
.divipts{margin: 1rem 0}@keyframes animate{from{transform: scale(1, 0);opacity: 0}to{transform: scale(1, 1);opacity: 1}}
.btns-group{display: grid;grid-template-columns: repeat(2, 1fr);gap: 1.5rem}
.btnsuive{padding: 0.75rem;display: block;text-decoration: none;background-color: var(--primary-color);color: #f3f3f3;text-align: center;border-radius: 0.25rem;cursor: pointer;transition: 0.3s}
.btnsuive:hover{box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color)}
.progress-step-check{position: relative;background-color: green !important;transition: all 0.8s}
.progress-step-check::before{position: absolute;content: '\2713';width: 100%;height: 100%;top: 8px;left: 13px;font-size: 12px}
.divipts{position: relative}
.divipts label{font-size: 13px;position: absolute;height: 19px;padding: 4px 7px;top: -14px;left: 10px;color: #a2a2a2;background-color: white}
.welcome{height: 450px;width: 350px;background-color: #fff;border-radius: 6px;display: flex;justify-content: center;align-items: center}
.welcome .content{display: flex;align-items: center;flex-direction: column}
.checkmark__circle{stroke-dasharray: 166;stroke-dashoffset: 166;stroke-width: 2;stroke-miterlimit: 10;stroke: #7ac142;fill: none;animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards}
.checkmark{width: 56px;height: 56px;border-radius: 50%;display: block;stroke-width: 2;stroke: #fff;stroke-miterlimit: 10;margin: 10% auto;box-shadow: inset 0px 0px 0px #7ac142;animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both}
.checkmark__check{transform-origin: 50% 50%;stroke-dasharray: 48;stroke-dashoffset: 48;animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards}@keyframes stroke{100%{stroke-dashoffset: 0}}@keyframes scale{0%, 100%{transform: none}50%{transform: scale3d(1.1, 1.1, 1)}}@keyframes fill{100%{box-shadow: inset 0px 0px 0px 30px #7ac142}}